
<div ng-if="logged" layout="column">

  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        <i class="material-icons">menu</i>
      </md-button>
      <h2>
        <span>Toolbar with Disabled/Enabled Icon Buttons</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <i class="material-icons">favorite</i>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <i class="material-icons">more_vert</i>
      </md-button>
    </div>
  </md-toolbar>

  <div flex layout="row">
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p>
      </md-content>
    </md-sidenav>
    <div layout="column" flex>
      <div flex="70">
        70
      </div>
      <div flex="10">
        10
      </div>
      <div flex="20">
        20
      </div>
    </div>

  </div>

</div>
<div ng-if="!logged" class="alert alert-info">You have to logged in.</div>



<!-- <h4>Routes</h4>
    <p>
        <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a>
        <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a>
        <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a>
    </p>
    <p>
        <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a>
        <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a>
        <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a>
        <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a>
        <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a>
        <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
    </p>
<hr/>
<h4>Kitchen Sink Demo</h4>
<div style="margin-bottom:25px;">
  <div style="margin-bottom:15px;">
    <button ng-hide="authenticated" ng-click="login()" class="btn btn-primary">Login</button>
    <button ng-show="authenticated" ng-click="logout()" class="btn btn-primary">Logout</button>
    <button ng-hide="authenticated" ng-click="resetPassword()" class="btn btn-primary">Send Password Reset</button>
    <button ng-hide="authenticated" ng-click="confirmReset()" class="btn btn-primary">Confirm Password Reset</button>
    <button ng-hide="authenticated" ng-click="register()" class="btn btn-primary">Register</button>
    <button ng-click="verify()" class="btn btn-primary">Verify Email</button>
    <button ng-show="authenticated" ng-click="changePassword()" class="btn btn-primary">Change Password</button>
    <button ng-show="authenticated" ng-click="profile()" class="btn btn-primary">Get Profile</button>
    <button ng-show="authenticated" ng-click="updateProfile()" class="btn btn-primary">Update Profile</button>
  </div>

  <p><textarea style="width:90%;height:200px;">{{response}}</textarea></p>

</div>

<hr/>
<h4>ngInclude Demo - Login</h4>


<div class="footer">
  <p>Tivix</p>
</div>
-->
