{% verbatim %}
<md-dialog aria-label="new investor">
  <form name="investorDetailForm">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>Detalle del inversor</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.hideDialogCreate()">
          <md-icon md-svg-src="static/img/business/close.svg" aria-hidden="true"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout-gt-sm="row" layout-align="center center">
        <img ng-src="{{vm.selected_investor.image_url}}" height="200" style="border-radius: 50%; width: 100%;" ng-if="vm.form_readonly"/>
        <img ng-src="{{vm.data_edit.image_url}}" height="200" style="border-radius: 50%; width: 100%;" ng-if="!vm.form_readonly"/>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm ng-if="vm.form_readonly">
          <label>Nombre</label>
          <input ng-model="vm.selected_investor.first_name" required md-maxlength="30" ng-readonly="vm.form_readonly">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-if="!vm.form_readonly">
          <label>Nombre</label>
          <input ng-model="vm.data_edit.first_name" name="first_name" required md-maxlength="30">
          <div ng-messages="investorDetailForm.first_name.$error">
            <div ng-message="required">Se requiere el nombre.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-if="vm.form_readonly">
          <label>Apellido</label>
          <input ng-model="vm.selected_investor.last_name" required md-maxlength="30" ng-readonly="vm.form_readonly">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-if="!vm.form_readonly">
          <label>Apellido</label>
          <input ng-model="vm.data_edit.last_name" name="last_name" required md-maxlength="30">
          <div ng-messages="investorDetailForm.last_name.$error">
            <div ng-message="required">Se requiere el apellido.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-if="vm.form_readonly">
          <label>Alias</label>
          <input ng-model="vm.selected_investor.alias" md-maxlength="30" ng-readonly="vm.form_readonly">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-if="!vm.form_readonly">
          <label>Alias</label>
          <input ng-model="vm.data_edit.alias" name="alias" md-maxlength="30">
          <div ng-messages="investorDetailForm.alias.$error">
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm ng-if="vm.form_readonly">
          <label>Genero</label>
          <input ng-model="vm.selected_investor.gender_display" ng-readonly="vm.form_readonly">
        </md-input-container>
        <div class="md-block" flex-gt-sm ng-if="!vm.form_readonly">
          <md-radio-group ng-model="vm.data_edit.gender">
            <md-radio-button value="1" class="md-primary">Masculino</md-radio-button>
            <md-radio-button value="2">Femenino</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <div layout-gt-sm="row" ng-if="!vm.form_readonly">
        <md-grid-list
              md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="4:3"
              md-gutter="8px" md-gutter-gt-sm="4px">
          <style media="screen">
            .avatar-selected {
              border: 1px solid rgb(198,40,40);
            }
          </style>
          <a ng-repeat="man_avatar in vm.men_avatars" class="md-button" ng-if="vm.is_male(vm.data_edit.gender)" ng-click="vm.chooseAvatar($index, $event, 'edit')">
            <img ng-src="{{man_avatar}}" height="50" style="position:relative; top:6px;"/>
          </a>
          <a ng-repeat="woman_avatar in vm.women_avatars" class="md-button" ng-if="vm.is_female(vm.data_edit.gender)" ng-click="vm.chooseAvatar($index, $event, 'edit')">
            <img ng-src="{{woman_avatar}}" height="50" style="position:relative; top:6px;"/>
          </a>
        </md-grid-list>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-default" ng-click="vm.editDisabled()" ng-if="!vm.form_readonly">Cancelar</md-button>
      <span flex></span>
      <div>
        <md-button class="md-raised md-accent" ng-click="vm.editEnabled()" ng-if="vm.form_readonly">Editar</md-button>
        <md-button class="md-raised md-primary" ng-click="vm.editInvestor()" ng-if="!vm.form_readonly">Guardar</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
{% endverbatim %}
