<div ng-if="logged" >
  <div ng-controller="AppCtrl" layout="column" style="height:653px;" ng-cloak>
    <section layout="row" flex>
      <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')"
          md-disable-backdrop
          md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <p hide show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
          <p>
          The left sidenav will 'lock open' on a medium (>=960px wide) device.
          </p>
          <p>
          The right sidenav will focus on a specific child element.
          </p>
          <div>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
              Toggle left
            </md-button>
          </div>
          <div>
            <md-button ng-click="toggleRight()"
              ng-hide="isOpenRight()"
              class="md-primary">
              Toggle right
            </md-button>
          </div>
        </div>
        <div flex></div>
      </md-content>
      <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
          <form>
            <md-input-container>
              <label for="testInput">Test input</label>
              <input type="text" id="testInput"
                     ng-model="data" md-autofocus>
            </md-input-container>
          </form>
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>
    </section>
  </div>
</div>
<div ng-if="!logged" class="alert alert-info">You have to logged in.</div>



<!-- <h4>Routes</h4>
    <p>
        <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a>
        <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a>
        <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a>
    </p>
    <p>
        <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a>
        <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a>
        <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a>
        <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a>
        <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a>
        <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
    </p>
<hr/>
<h4>Kitchen Sink Demo</h4>
<div style="margin-bottom:25px;">
  <div style="margin-bottom:15px;">
    <button ng-hide="authenticated" ng-click="login()" class="btn btn-primary">Login</button>
    <button ng-show="authenticated" ng-click="logout()" class="btn btn-primary">Logout</button>
    <button ng-hide="authenticated" ng-click="resetPassword()" class="btn btn-primary">Send Password Reset</button>
    <button ng-hide="authenticated" ng-click="confirmReset()" class="btn btn-primary">Confirm Password Reset</button>
    <button ng-hide="authenticated" ng-click="register()" class="btn btn-primary">Register</button>
    <button ng-click="verify()" class="btn btn-primary">Verify Email</button>
    <button ng-show="authenticated" ng-click="changePassword()" class="btn btn-primary">Change Password</button>
    <button ng-show="authenticated" ng-click="profile()" class="btn btn-primary">Get Profile</button>
    <button ng-show="authenticated" ng-click="updateProfile()" class="btn btn-primary">Update Profile</button>
  </div>

  <p><textarea style="width:90%;height:200px;">{{response}}</textarea></p>

</div>

<hr/>
<h4>ngInclude Demo - Login</h4>


<div class="footer">
  <p>Tivix</p>
</div>
-->
