/* GENERAL */
.datepicker {
  position: relative;
  top: 17px;
}

.color-bkg {
  background-color: #F5F5F5;
}

/* TABLE MATERIAL */

/* thead*/
table.md-table thead.md-head>tr.md-row  {
  background-color: #F5F5F5;
}
/*tbody*/
table.md-table.md-row-select tbody.md-body>tr.md-row,
table.md-table tbody.md-body>tr.md-row {
  background-color: #F5F5F5;
}
table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected {
  background-color: #EEEEEE;
}
table.md-table.md-row-select tbody.md-body>tr.md-row:not([disabled]):hover {
  background-color: #E0E0E0 !important;
}
/*tfoot*/
table.md-table tfoot.md-foot>tr.md-row {
  background-color: #c62828;
}
table.md-table tfoot.md-foot>tr.md-row td.md-cell {
  color: #fff;
}
/*pagination*/
.md-table-pagination {
  background-color: #F5F5F5;
}

/* TOOLBAR */
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
  background-color: #F5F5F5;
}
