<style media="screen">
  .material-icons.md-48 { font-size: 48px; }
</style>

<md-sidenav md-component-id="left" md-is-open="principal.isSidenavOpen" class="md-sidenav-left md-whiteframe-1dp" layout="column" ng-cloak>
    <md-toolbar class="md-tall">
      <div layout="column" class="md-toolbar-tools-bottom inset" layout-fill>
        <md-card-avatar>
          <i class="material-icons md-48">account_circle</i>
        </md-card-avatar>
        <md-card-header-text>
          {% verbatim %}
          <span class="md-title">{{principal.profile.first_name}} {{principal.profile.last_name}}</span>
          <span class="md-subhead">{{principal.profile.email}}</span>
          {% endverbatim %}
        </md-card-header-text>
      </div>
    </md-toolbar>
    <md-list>
      {% verbatim %}
      <md-list-item ng-repeat="item in principal.menu" ng-href="{{item.link}}" ng-click="principal.openLeftMenu()">
            <div class="inset">
              <i class="material-icons">{{item.icon}}</i>
            </div>
            <div class="inset">{{item.title}}</div>
      </md-list-item>
      {% endverbatim %}
    </md-list>
    <md-divider></md-divider>
    <md-list>
      {% verbatim %}
      <md-list-item ng-repeat="item in principal.admin" md-ink-ripple ng-href="{{item.link}}">
        <div class="inset">
          <i class="material-icons">{{item.icon}}</i>
        </div>
        <div class="inset">{{item.title}}</div>
      </md-list-item>
      {% endverbatim %}
    </md-list>
</md-sidenav>
