{% verbatim %}
<md-sidenav md-swipe-left="master.toggleLeftMenu()" md-component-id="left"
            md-is-open="master.isSidenavOpen" class="md-sidenav-left md-whiteframe-4dp" ng-cloak>
    <md-toolbar class="md-tall">
      <div layout="column" class="md-toolbar-tools-bottom inset" layout-fill>
        <md-card-avatar>
          <md-icon md-svg-src="static/img/business/male-user.svg" aria-hidden="true" style="height: 50px;width: 45px;"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{master.profile.first_name}} {{master.profile.last_name}}</span>
          <span class="md-subhead">{{master.profile.email}}</span>
        </md-card-header-text>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">General</md-subheader>
        <md-list-item ng-repeat="item in master.static_menu" ng-href="{{item.link}}" >
              <div class="inset">
                <md-icon md-svg-src="{{item.icon}}" aria-hidden="true"></md-icon>
              </div>
              <div class="inset">{{item.title}}</div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-subheader class="md-no-sticky" ng-if="master.menu.length">{{master.association.name}}</md-subheader>
        <md-list-item ng-repeat="item in master.menu" ng-href="{{item.link}}" >
              <div class="inset">
                <md-icon md-svg-src="{{item.icon}}" aria-hidden="true"></md-icon>
              </div>
              <div class="inset">{{item.title}}</div>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-repeat="item in master.admin" ng-href="{{item.link}}">
          <div class="inset">
            <md-icon md-svg-src="{{item.icon}}" aria-hidden="true"></md-icon>
          </div>
          <div class="inset">{{item.title}}</div>
        </md-list-item>
      </md-list>
    </md-content>
</md-sidenav>
{% endverbatim %}
