<style media="screen">
  .material-icons.md-48 { font-size: 48px; }
</style>

<md-sidenav md-component-id="left" md-is-open="isSidenavOpen" class="md-sidenav-left" layout="column">
    <md-toolbar class="md-tall md-hue-2">
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <md-card-avatar>
          <i class="material-icons md-48">account_circle</i>
        </md-card-avatar>
        <md-card-header-text>
          {% verbatim %}
          <span class="md-title">{{profile.username}}</span>
          <span class="md-subhead">{{profile.email}}</span>
          {% endverbatim %}
        </md-card-header-text>
      </div>
    </md-toolbar>
    <md-list>
      {% verbatim %}
      <md-list-item ng-repeat="item in menu" md-ink-ripple ng-href="{{item.link}}">
            <div class="inset">
              <i class="material-icons">{{item.icon}}</i>
            </div>
            <div class="inset">{{item.title}}</div>
      </md-list-item>
      {% endverbatim %}
    </md-list>
    <md-divider></md-divider>
    <md-list>
      {% verbatim %}
      <md-list-item ng-repeat="item in admin" md-ink-ripple ng-href="{{item.link}}">
        <div class="inset">
          <i class="material-icons">{{item.icon}}</i>
        </div>
        <div class="inset">{{item.title}}</div>
      </md-list-item>
      {% endverbatim %}
    </md-list>
</md-sidenav>
