<md-dialog aria-label="new investor" flex="40">
  <form name="investorForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Inversor</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm2.hideDialogCreate()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout="row">
        <md-input-container  flex="50">
          <label>Nombre</label>
          <input ng-model="vm2.first_name" name="first_name" required md-maxlength="30" tabindex="1">
          <div ng-messages="investorForm.first_name.$error">
            <div ng-message="required">Se requiere el nombre.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container  flex="50">
          <label>Apellido</label>
          <input ng-model="vm2.last_name" name="last_name" required md-maxlength="30" tabindex="1">
          <div ng-messages="investorForm.last_name.$error">
            <div ng-message="required">Se requiere el apellido.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-radio-group ng-model="vm2.gender">
          <md-radio-button value="1" class="md-primary">Masculino</md-radio-button>
          <md-radio-button value="2">Femenino</md-radio-button>
        </md-radio-group>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm2.clearDialogCreate()">Limpiar</md-button>
      <span flex></span>
      <div ng-if="investorForm.$valid">
        <md-button class="md-raised md-primary" ng-click="vm2.createInvestor()" tabindex="3">Guardar</md-button>
      </div>
      <div ng-if="investorForm.$invalid">
        <md-button class="md-raised md-primary" ng-disabled="true" tabindex="3">Guardar</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
