<md-dialog aria-label="create association">
  <form name="associationForm">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>Crear Asociación</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.hideDialogCreate()">
          <md-icon md-svg-src="static/img/business/close.svg" aria-hidden="true"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.create_loading"></md-progress-linear>
    <md-dialog-content layout-padding>
      <div layout="column">
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="vm.name" name="name" required md-maxlength="50">
          <div ng-messages="associationForm.name.$error">
            <div ng-message="required">Se requiere el nombre.</div>
            <div ng-message="md-maxlength">Debe tener menos de 50 caracteres.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Descripción</label>
          <input ng-model="vm.description" name="description" md-maxlength="250">
          <div ng-messages="associationForm.description.$error">
            <div ng-message="md-maxlength">Debe tener menos de 250 caracteres.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.clearDialogCreate()" ng-if="!vm.create_loading">Limpiar</md-button>
      <span flex></span>
      <md-button class="md-raised md-accent" ng-click="vm.createAssociation()" ng-if="associationForm.$valid && !vm.create_loading">Guardar</md-button>
      <md-button class="md-raised md-accent" ng-disabled="true" ng-if="associationForm.$invalid || vm.create_loading">Guardar</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
