{% extends "core/principal.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}" media="screen" charset="utf-8">

  {% verbatim %}
  <div ng-controller="AssociationCtrl" ng-cloak>
      <!-- Start content -->
      <div layout="column" class="md-whiteframe-z1" layout-fill>
        <md-toolbar class="md-hue-1">
          <div class="md-toolbar-tools">
            <h2 class="md-flex">{{view.title}}</h2>
            <span flex></span>
            <i class="material-icons">{{view.icon}}</i>
          </div>
        </md-toolbar>
        <md-content layout-padding>
          <md-card ng-repeat="assoc in associations" md-theme="dark-blue" md-theme-watch flex="50">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{assoc.name}}</span>
                <span class="md-subhead">{{assoc.description}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                  <img src="http://apocova.com/_jl/images/la_asociacion/juntadirectiva.jpg" alt="" />
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
        </md-content>
      </div>
      <!-- End content -->
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <md-icon><i class="material-icons">add</i></md-icon>
      </md-button>
  </div>
  {% endverbatim %}
{% endblock content %}
