{% extends "core/principal.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}" media="screen" charset="utf-8">

  {% verbatim %}
  <div id="inner-content" ng-controller="AssociationItemCtrl as vm" ng-cloak>
      <div layout="row">
        <div style="min-width: 100%;">
          <!-- Start content -->
          <div layout="column" class="md-whiteframe-z1" layout-fill>
            <md-toolbar class="md-hue-1">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">{{vm.view.title}}</h2>
                <span flex></span>
                <i class="material-icons">{{vm.view.icon}}</i>
              </div>
            </md-toolbar>
            <md-content style="background-color: #eee;">
              <div layout-padding>
                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{vm.association.name}}</span>
                      <span class="md-subhead">
                        <p>Fundador: {{vm.association.founder_name}}</p>
                        <p>Fecha: {{vm.association.date_created}}</p>
                        <p>{{vm.association.description}}</p>
                      </span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media">
                        <img src="static/img/business/diagram-1.svg" class="md-media-lg card-media hide-xs" />
                      </div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-raised">Editar</md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </md-content>

            <div layout-padding>
              <p class="md-title">Grupo de Inversores</p>
              <md-content layout-margin class="md-whiteframe-2dp">
                <md-list flex>
                  <md-list-item class="md-3-line" ng-click="null">
                    <img ng-src="static/img/avatars/man-1.svg" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                      <h3>as</h3>
                      <h4>asd</h4>
                      <p>asdf</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-3-line" ng-click="null">
                    <img ng-src="static/img/avatars/man-14.svg" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                      <h3>as</h3>
                      <h4>asd</h4>
                      <p>asdf</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </div>
          </div>
          <!-- End content -->
        </div>
      </div>
  </div>
  {% endverbatim %}
{% endblock content %}
