{% load static %}
<link rel="stylesheet" href="{% static 'entity/css/investors.css' %}" media="screen" charset="utf-8">

{% include "core/principal.html" %}

{% verbatim %}
<div layout="column" layout-fill layout-padding ng-controller="AssociationCtrl">
    <div flex="20"></div>
    <div flex="80">
      <div layout="row" flex>
        <div flex="20"></div>
        <div flex="60">
          <!-- Start content -->
          <md-card ng-repeat="assoc in associations" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{assoc.name}}</span>
                <span class="md-subhead">{{assoc.description}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                  <img src="http://apocova.com/_jl/images/la_asociacion/juntadirectiva.jpg" alt="" />
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
          <!-- End content -->
        </div>
        <div flex="20"></div>
      </div>
    </div>
</div>
{% endverbatim %}
