{% load static %}

{% verbatim %}
<md-content ng-controller="AssociationCtrl as vm">
  <div layout="row" layout-padding>
      <h4>
        Posee {{vm.getTotalAssociations()}} asociaciones
      </h4>
      <span flex></span>
      <md-button type="button" class="md-fab" aria-label="Add" ng-click="vm.showDialogCreate($event)">
        <md-icon class="material-icons" style="position: relative;bottom: 7px;">add</md-icon>
      </md-button>
  </div>
  <div layout="row" layout-wrap layout-padding>
      <md-card ng-repeat="association in vm.associations" md-theme-watch flex="29">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{association.name}}</span>
            <span class="md-subhead">
              <ul>
                <li>
                  <b>Fundador:</b> {{association.founder_name}}
                </li>
                <li>
                  <b>Fecha:</b> {{association.date_created | date : 'dd/MM/yyyy'}}
                </li>
              </ul>
            </span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img src="static/img/business/shared-folder.svg" class="md-media-lg card-media hide-xs" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="left center">
          <md-button class="md-raised" ng-click="vm.goToConsole(association.id)">VER</md-button>
          <md-button class="md-warn" ng-click="vm.showDialogRemove($event, association.id)">Borrar</md-button>
        </md-card-actions>
      </md-card>
  </div>
</md-content>
{% endverbatim %}
