{% verbatim %}
<md-content ng-controller="ConsoleCtrl as vm">
  <div layout="row" layout-wrap>
      <div flex="33">
        <a type="button" class="md-button md-ink-ripple" ng-click="vm.goToDetail()">
           <md-icon md-svg-icon="static/img/business/record.svg"></md-icon>
           Detalle
        </a>
      </div>
      <div flex="33">
        <a type="button" class="md-button md-ink-ripple" ng-click="vm.goToLoans()">
          <md-icon md-svg-icon="static/img/business/money.svg"></md-icon>
          Prestamos
        </a>
      </div>
      <div flex="33">
        <a type="button" class="md-button md-ink-ripple" ng-click="vm.goToMonthlyResume()">
          <md-icon md-svg-icon="static/img/business/money.svg"></md-icon>
          Amembe
        </a>
      </div>
      <div flex="33">
        <button type="button" class="md-button md-ink-ripple" ng-click="vm.goToRevenue()">
          <md-icon md-svg-icon="static/img/business/get-money.svg"></md-icon>
          Devolucion
        </button>
      </div>
  </div>
</md-content>
{% endverbatim %}
