{% verbatim %}
<md-content ng-controller="ConsoleCtrl as vm" class="color-bkg">
  <md-progress-linear md-mode="indeterminate" ng-show="vm.general_loading"></md-progress-linear>
  <ul class="buckets" layout="" layout-align="center center" layout-wrap layout-padding>
    <li flex-lg="50" flex-md="50" flex-sm="50" flex-xs="100" ng-repeat="section in vm.sections" class="ng-scope">
      <md-button class="md-primary md-hue-2 md-raised" style="margin-left:0;" ng-href="{{section.href}}" ng-click="vm.showLoader()">
        <md-icon class="block ng-scope ng-isolate-scope md-default-theme" md-svg-src="{{section.icon}}" aria-hidden="true"></md-icon>
        <span class="ng-binding ng-scope">
          {{section.title}}
        </span>
        <div class="md-ripple-container"></div>
      </md-button>
    </li>
  </ul>
  <style media="screen">
    ul.buckets li {
      list-style: none;
      text-align: center;
    }
    ul.buckets li md-card md-card-content {
      padding: 0;
    }
    ul.buckets li a {
      display: block;
      font-weight: 500;
      padding: 16px 0;
      text-decoration: none;
    }
  </style>
</md-content>
{% endverbatim %}
