{% load staticfiles %}
<!DOCTYPE html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="{% static 'libs/bower_components/angular-material/angular-material.min.css' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  </head>
  <body ng-app="angularDjangoRegistrationAuthApp" ng-controller="MasterCtrl" style="padding: 0">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="main-content">
    <!-- Add your site or application content here -->
    <div ng-view=""></div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-XXXXX-X');
     ga('send', 'pageview');
  </script>

  {# Required libs for this project #} 
    <script src="{% static 'libs/bower_components/angular/angular.min.js' %}">
    </script>
    <script src="{% static 'libs/bower_components/angular-animate/angular-animate.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-aria/angular-aria.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-messages/angular-messages.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-material/angular-material.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'libs/bower_components/angular-route/angular-route.min.js' %}"></script>

  <script src="{% static 'app/app.js' %}"></script>
  <script src="{% static 'app/controllers/main.js' %}"></script>
  <script src="{% static 'app/controllers/register.js' %}"></script>
  <script src="{% static 'app/controllers/passwordreset.js' %}"></script>
  <script src="{% static 'app/controllers/passwordresetconfirm.js' %}"></script>
  <script src="{% static 'app/controllers/login.js' %}"></script>
  <script src="{% static 'app/controllers/input.js' %}"></script>
  <script src="{% static 'app/controllers/verifyemail.js' %}"></script>
  <script src="{% static 'app/controllers/logout.js' %}"></script>
  <script src="{% static 'app/controllers/userprofile.js' %}"></script>
  <script src="{% static 'app/controllers/passwordchange.js' %}"></script>
  <script src="{% static 'app/services/djangoAuth.js' %}"></script>
  <script src="{% static 'app/services/validate.js' %}"></script>
  <script src="{% static 'app/controllers/master.js' %}"></script>
  <script src="{% static 'app/controllers/restricted.js' %}"></script>
  <script src="{% static 'app/controllers/authrequired.js' %}"></script>

</body>
</html>
