{% verbatim %}
<md-content ng-controller="AssociationItemCtrl as vm" layout-padding>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{vm.association.name}}</span>
        <span class="md-subhead">
          <ul>
            <li><b>Fundador:</b> {{vm.association.founder_name}}</li>
            <li><b>Fecha de creación:</b> {{vm.association.date_created | date : 'dd/MM/yyyy'}}</li>
            <li><b>Descripción:</b> {{vm.association.description}}</li>
          </ul>
        </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="card-media">
          <img src="static/img/business/shared-folder.svg" class="md-media-lg card-media hide-xs" />
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-raised" ng-click="vm.showDialogEdit($event)">Editar</md-button>
    </md-card-actions>
  </md-card>
</md-content>
<md-divider></md-divider>
<div ng-controller="InvestorCtrl as vm2" layout-padding>
  <md-toolbar layout-padding class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2>Grupo de Inversores</h2>
      <span flex></span>
      <md-button class="md-fab md-mini" aria-label="Add" ng-click="vm2.showDialogCreate()">
        <md-icon md-svg-src="static/img/business/white-plus.svg" aria-hidden="true"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="md-whiteframe-4dp">
    <md-list>
      <md-list-item class="md-3-line" ng-click="vm2.selectInvestor($index, $event)" ng-repeat="inv in vm2.investors">
        <img ng-src="{{inv.image_url}}" class="md-avatar"/>
        <div class="md-list-item-text" layout="column">
          <h4>{{inv.first_name}} {{inv.last_name}}</h4>
          <p>{{inv.gender_display}}</p>
        </div>
      </md-list-item>
    </md-list>
    <div ng-if="vm2.investors.length === 0" style="min-height: 80px;">
      <div layout="row" layout-align="center center">
        <p class="md-subhead">No hay inversores</p>
      </div>
    </div>
  </md-content>
</div>
{% endverbatim %}
