{% verbatim %}
<md-dialog aria-label="new investment" flex="60">
  <form name="investmentForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Otorgar Prestamo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.hideDialogCreate()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <!--<h3 class="md-subhead">Prestamista</h3> -->
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.investor.label}}*</label>
          <md-select ng-model="vm.data.investor" name="investor" required />
            <md-option ng-repeat="investor in vm.investors" ng-value="investor.id">
              {{investor.first_name}} {{investor.last_name}}
            </md-option>
          </md-select>
          <div ng-messages="investmentForm.investor.$error">
            <div ng-message="required">Se requiere inversor.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.warrant.label}}*</label>
          <input type="number" name="warrant" ng-model="vm.data.warrant" required warrantexist/>
          <div ng-messages="investmentForm.warrant.$error">
            <div ng-message="required">Se requiere orden.</div>
            <div ng-message="warrantexist">Ya existe un Prestamo con este N° de Orden.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.authorization.label}}*</label>
          <input type="number" name="authorization" ng-model="vm.data.authorization" required authexist/>
          <div ng-messages="investmentForm.authorization.$error">
            <div ng-message="required">Se requiere authorización.</div>
            <div ng-message="authexist">Ya existe un Prestamo con este N° de authorización.</div>
          </div>
        </md-input-container>

        <div class="datepicker md-block" flex-gt-sm>
          <md-datepicker ng-model="vm.data.date_partial"></md-datepicker>
        </div>
      </div>
      <!--<h3 class="md-subhead">Prestatario</h3> -->
      <div layout-gt-sm="row">
        <md-input-container flex-sm>
          <label>{{vm.options.first_name.label}}*</label>
          <input type="text" name="first_name" ng-model="vm.data.first_name" md-maxlength="30" required/>
          <div ng-messages="investmentForm.first_name.$error">
            <div ng-message="required">Se requiere el Nombre.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>

        <md-input-container flex-sm>
          <label>{{vm.options.last_name.label}}*</label>
          <input type="text" name="last_name" ng-model="vm.data.last_name"  md-maxlength="30" required/>
          <div ng-messages="investmentForm.last_name.$error">
            <div ng-message="required">Se requiere el Apellido.</div>
            <div ng-message="md-maxlength">Debe tener menos de 30 caracteres.</div>
          </div>
        </md-input-container>
      </div>
      <!--<h3 class="md-subhead">Detalles de Prestamo</h3>-->
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.capital.label}}</label>
          <input type="number" name="capital" ng-model="vm.data.capital" step="1.00" max="99999999.99" ng-change="vm.updateFinalCapital()">
          <div ng-messages="investmentForm.capital.$error">
            <div ng-message="max">El máximo permitido es 99999999.99.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.interests.label}}</label>
          <input type="number" name="interests" ng-model="vm.data.interests" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.10" min="0" max="100" ng-change="vm.updateFinalCapital()">
          <div ng-messages-multiple ng-messages="investmentForm.interests.$error">
            <div ng-message="pattern">Sólo se permiten 2 digitos decimales.</div>
            <div ng-message="min">El mínimo es 0.</div>
            <div ng-message="max">El máximo es 100.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.fee.label}}</label>
          <md-select ng-model="vm.data.fee" ng-change="vm.updateMonthlyAmount()">
            <md-option ng-repeat="fee_choice in vm.options.fee.choices" ng-value="fee_choice.value">
              {{fee_choice.display_name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.final_capital.label}}</label>
          <input type="number" name="final_capital" ng-model="vm.data.final_capital" max="99999999.99" ng-readonly="true">
          <div ng-messages="investmentForm.final_capital.$error">
            <div ng-message="max">El máximo permitido es 99999999.99.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.profit.label}}</label>
          <input type="number" name="profit" ng-model="vm.data.profit" max="99999999.99" ng-readonly="true">
          <div ng-messages="investmentForm.profit.$error">
            <div ng-message="max">El máximo permitido es 99999999.99.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>{{vm.options.monthly_amount.label}}</label>
          <input type="number" name="monthly_amount" ng-model="vm.data.monthly_amount" max="99999999.99" ng-readonly="true">
          <div ng-messages="investmentForm.monthly_amount.$error">
            <div ng-message="max">El máximo permitido es 99999999.99.</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.clearDialogCreate()">Limpiar</md-button>
      <span flex></span>
      <div ng-if="investmentForm.$valid">
        <md-button class="md-raised md-primary" ng-click="vm.createInvestment()">Guardar</md-button>
      </div>
      <div ng-if="investmentForm.$invalid">
        <md-button class="md-raised md-primary" ng-disabled="true">Guardar</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
{% endverbatim %}
