{% extends "base_excel.html" %}
{% load entity_extras %}

{% block title %}Planilla de prestamos mensuales{% endblock title %}
{% block association %}{{association.name}}{% endblock association %}
{% block extra_header %}
  <tr>
    <td colspan="2" style="font-size: 13px"><b>Periodo:</b></td>
    <td colspan="5" style="font-size: 15px">{{month_name}} de {{year}}</td>
  </tr>
{% endblock extra_header %}

{% block columns %}
  <tr bgcolor="#BBCEE9">
    <th>Creación</th>
    <th>Orden N°</th>
    <th>Autorización N°</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Capital Final</th>
    <th>Cuotas</th>
    <th>Importe</th>
  </tr>
{% endblock columns %}

{% block rows %}
  {% for investment in investments %}
  {% getCurrentFee investment year month as current_fee %}
    <tr>
      <td>{{investment.date}}</td>
      <td>{{investment.warrant}}</td>
      <td>{{investment.authorization}}</td>
      <td>{{investment.first_name}}</td>
      <td>{{investment.last_name}}</td>
      <td>{{investment.final_capital}}</td>
      <td>{{current_fee}}/{{investment.fee}}</td>
      <td>{{investment.monthly_amount}}</td>
    </tr>
  {% endfor %}
{% endblock rows %}
